{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="bg-danger">
            {% if messages %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    <script>
                        setTimeout(function() {
                            window.location.href = 'https://pivettamarcos.github.io/portal-infobio-ufcspa/oportunidades'
                        }, 5000);
                    </script>
                {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h4>Portal da Infobio</h4>
                    <h2>Nova oportunidade</h2>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}