{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Backend</title>
  </head>
  <body>

    <div class="container">

      <h3>Inserção dos conteúdos (admin)</h3>
      <ul>
          <li>Acessar <a href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
      <hr>

      <h3>APIs</h3>
      <ul>
            <li>Acessar <a href="{% url 'principal' %}">Homepage</a></li>
          <li>Acessar <a href="{% url 'sobre' %}">About</a></li>
          <li>Acessar <a href="{% url 'grande-area' %}">Grandes áreas do curso</a></li>
          <li>Acessar <a href="{% url 'area-especifica' %}">Áreas específicas</a></li>
      </ul>
      <hr>

      <h3>API do Quadro de oportunidades</h3>
      <ul>
          <li>Acessar <a href="{% url 'oportunidades' %}">Quadro de oportunidades</a></li>
      </ul>
      <hr>

      <h3>Inserção de oportunidades</h3>
      <ul>
          <li>Acessar <a href="{% url 'adicionar-oportunidade' %}">Quadro de oportunidades</a></li>
      </ul>
      <hr>
      
    </div>
    
  </body>
</html>