{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Backend</title>
  </head>
  <body>

    <div class="container">

      <h3>Inserção dos conteúdos (admin)</h3>
      <ul>
          <li>Acessar <a href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
      <hr>

      <h3>Homepage</h3>
      <ul>
          <li>Acessar <a href="{% url 'homepage' %}">Homepage</a></li>
      </ul>
      <hr>

      <h3>About</h3>
      <ul>
          <li>Acessar <a href="{% url 'about' %}">About</a></li>
      </ul>
      <hr>

      <h3>Grandes áreas do curso</h3>
      <ul>
          <li>Acessar <a href="{% url 'big-area' %}">Grandes áreas do curso</a></li>
      </ul>
      <hr>
      
      <h3>Áreas específicas</h3>
      <ul>
          <li>Acessar <a href="{% url 'specific-area' %}">Áreas específicas</a></li>
      </ul>
      <hr>

      <h3>Quadro de oportunidades</h3>
      <ul>
          <li>Acessar <a href="{% url 'opportunities' %}">Quadro de oportunidades</a></li>
      </ul>
      <hr>
      
    </div>
    
  </body>
</html>